 * { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

ul{
    list-style: none;
}


a{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}


body{ 
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
}

nav{
    
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;

}

h1{ 

    font-family: Inter;
    font-size: 54px;
    font-weight: 600;
    line-height: 62px;
    letter-spacing: -1px;
    text-align: center;

}


.p{
    
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0px;
    text-align: center;
    
}

section{
    display: flex;
    justify-content: space-evenly;
    margin: 48px 0 48px;
} 

footer{
    width: 100%;
    height: 100%;
    background-color: rgba(83, 83, 83, 0.33);
    padding: 70px 45px;
    display: flex;
    justify-content: space-between;
    
    
}

.row{
    display: inline;
    width: 75%;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
    
    
    
}

.col{
    flex-basis: 40%;
    padding: 18px;
    color: rgba(83, 83, 83, 1);
    margin-left: 160px;
    cursor: pointer;
    
}

.logo{
    width: 100px;
    height: 64px;
    margin-bottom: 45px;
}

.col h3{
    
    width: fit-content;
    margin-bottom: 71px;
}

ul li{
    color: rgba(83, 83, 83, 1);
    margin-bottom: 15px;
    
}

div.social-icon{
    margin-top: 30px;
    cursor: pointer;
    
}

button{
    color: #fff;
    height: 45px;
    width: 80px;
    cursor: pointer;
    
}
